@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Mukta:wght@300;400;500;600;700;800&display=swap');

html {
  font-size: 10px;
}
body {
  font-size: 2rem;
}

.icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
  transform: translateY(2rem);
}
